.canvas{
    text-align: center;
	height: 420px;
    width: 420px;
}

@-webkit-keyframes color_change {
	from { color: white; }
	to { color: rgb(207, 207, 207); }
}
@-moz-keyframes color_change {
	from { color: white; }
	to { color: rgb(207, 207, 207); }
}
@-ms-keyframes color_change {
	from { color: white; }
	to { color: rgb(207, 207, 207); }
}
@-o-keyframes color_change {
	from { color: white; }
	to { color: rgb(207, 207, 207); }
}
@keyframes color_change {
	from { color: white; }
	to { color: rgb(207, 207, 207); }
}
  .blink {
    animation-name: color_change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }